<%
locals.OLSKPageAssets = [
	'__compiled/ui-style.css',

	'/node_modules/launchlet/__compiled/launchlet.css',
	'/node_modules/launchlet/__compiled/launchlet.js',
];
locals._OLSKPageAssetFolder = 'node_modules';
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
locals.OLSKPagePublicLocalizedStringKeys = OLSKLocalizedStringKeys();
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<script>
const mod = {

	_OLSKPasscode: new OLSKPasscode({
		target: document.body,
		props: Object.assign({
			OLSKPasscodeDispatchContinue: (function () {
				window.TestOLSKPasscodeDispatchContinue.innerHTML = parseInt(window.TestOLSKPasscodeDispatchContinue.innerHTML) + 1;
			}),
		}, Object.fromEntries(Array.from((new window.URLSearchParams(window.location.search)).entries()))),
	}),

	// INTERFACE

	InterfaceLauncherButtonDidClick () {
		window.Launchlet.LCHSingletonCreate({
			LCHOptionRecipes: mod._OLSKPasscode.modPublic.OLSKPasscodeRecipes({
				OLSKLocalized: window.OLSKLocalized,
				ParamMod: mod,
				ParamSpecUI: true,
			}),
		});
	},

};

window.mod = mod;
</script>

<button id="TestOLSKModalViewShow" onclick="mod._OLSKPasscode.modPublic.OLSKModalViewShow()">TestOLSKModalViewShow</button>

<button id="TestOLSKModalViewClose" onclick="mod._OLSKPasscode.modPublic.OLSKModalViewClose()">TestOLSKModalViewClose</button>

<p>
	<button class="OLSKAppToolbarLauncherButton" onclick="mod.InterfaceLauncherButtonDidClick()">Launcher</button>
</p>

<p>
	<strong>OLSKPasscodeDispatchContinue</strong>
	<span id="TestOLSKPasscodeDispatchContinue">0</span>
</p>